version: "3.9"

services:
  api:
    build: .
    container_name: api
    env_file:
      - .env
    ports:
      - "8000:8000"
    restart: always

  celery:
    build: .
    container_name: celery
    command: celery -A celery_app.celery_client worker --pool=threads -l info
    env_file:
      - .env
    restart: always
