name: CI - Lint, Security, and Tests

on:
  push:
    branches: [main, master]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11.9"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
          pip install pytest pylint bandit


      - name: Run pylint
        run: |
          pylint --disable=all --enable=unused-import $(git ls-files '*.py') --ignore-paths=.*/migrations/.*


      - name: Run bandit (security scan)
        run: |
          bandit -r . -c pyproject.toml || true


      - name: Run tests
        run: |
          pytest -v --maxfail=3 --disable-warnings
